<h1>List of all messages</h1>
<%= link_to 'New message', new_message_path %>

<ul>
  <% @messages.each do |message| %>
    <li>
      <%= message.content %>
      <%= message.user.email %>
      <%= link_to 'Show', message %>
      <%= link_to 'Edit', edit_message_path(message.id) %>
      <%= link_to 'Delete', message, method: :delete %>
    </li>
  <% end %>
<ul>
