<h1>List	of	all	messages</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Author</th>
      <th>Created	at</th>
      <th>Updated	at</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= link_to message.content,	message	%></td>
        <td><%= message.author	%></td>
        <td><%= message.created_at	%></td>
        <td><%= message.updated_at	%></td>
        <td><%= link_to 'Delete', message, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
