<p><%=	@message.content	%></p>
<h5>Author:	<%=	@message.author	%></h5>
<h5>Created_at:<%=	@message.created_at	%></h5>
<h5>Updated	at:<%=	@message.updated_at	%></h5>
</hr>
<%= link_to 'Back to all messages', messages_path %>